* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  nav {
    background-color: rgb(251, 226, 205);
    ul {
      display: flex;
      li {
        list-style-type: none;
        margin: 1rem;
        a {
          color: rgb(71, 36, 11);
          text-decoration: none;
          &:hover {
            color: rgb(201, 131, 45);
          }
        }
      }
    }
  }

  main {
    section.one {
      min-height: 70vh;
      background-color: rgb(249, 249, 249);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      div.info {
        flex-basis: 450px;
        display: block;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        h1 {
          font-size: 3.5rem;
        }
        h2 {
          font-size: 1rem;
        }
        a {
          color: rgb(255, 255, 255);
          background-color: rgb(201, 131, 45);
          padding: 0.25rem 0.5rem;
          font-size: 1.5rem;
          border-radius: 20px;
          display: inline-block;
          margin-top: 2rem; // 只有這個設定無法顯示效果，因此要加上 inline-block
          text-decoration: none;
          transition: all 0.2 ease;
          &:hover {
            transform: scale(1.2);
          }
        }
      }

      div.picture {
        flex-basis: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    section.two {
      background-color: rgb(251, 226, 205);
      padding: 3rem 0rem;
      // display: flex;
      justify-content: center;

      section.description {
        width: 50%;
        text-align: center;

        h2 {
          font-size: 2rem;
        }

        .progress-bar-area {
          p {
            margin-top: 1rem;
          }
        }
      }
    }
  }
}
